<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Internet of Sh...Things committee">
    <title>Latest queries</title>
</head>
<body>
<div class="list-group">
    {% for query in queries %}
    <a href="/alexa/query/{{ query.hash }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ query.name }}</h5>
            <small class="text-muted">{{ query.time }}</small>
        </div>
    </a>
    {% endfor %}
</div>
</body>
</html>
